@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.very-dark-gray {
  background-color: hsl(0, 0%, 17%);
}

.dark-gray {
  background-color: hsl(0, 0%, 59%);
}
